html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
  overflow: overlay;
}

.App_videos {
  position: relative;
  height: 100vh;
  border-radius: 20px;
  overflow: scroll;
  width: 70%;
  max-width: 400px;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* hide scroll for ie & edge  & firefox*/
.App_videos::-webkit-scrollbar {
  display: none;
}
/* hide for chrom ,safari & opera */
.video {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}
.video_player {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.footer {
  position: relative;
  color: white;
  bottom: 150px;
  margin-left: 40px;
  display: flex;
}
.footerText {
  flex: 1;
}

/* .footerTicker {
  display: flex;
} */
.ticker {
  height: fit-content;
  margin-left: 30px;
  width: 60%;
}
.footer_icon {
  position: absolute;
}
.ticker__element > p {
  margin-top: 0;
}

.footer > img {
  animation: spinTheRecord infinite 5s linear;
  height: 50px;
  filter: invert(1);
  position: absolute;
  bottom: 10px;
  right: 20px;
}

@keyframes spinTheRecord {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  position: absolute;
  top: 30%;
  right: 10px;
  color: white;
}

.sidebarButton {
  padding: 8px;
  text-align: center;
}
